# Copier ces lignes dans le server.cfg de Quatari
# Puis remplacer TON_LICENSE par la license FiveM de chaque fondateur.

ensure quatari-founder-exec

add_ace group.founder quatari.founder allow
add_principal identifier.license:TON_LICENSE_ICI group.founder

# Exemple pour un second fondateur :
# add_principal identifier.license:AUTRE_LICENSE group.founder
